# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/staticfiles/
/media/

# Environments
venv/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
test_*.py
.coverage
htmlcov/

# Misc
*.swp 