{% extends 'portfolio/base.html' %}
{% block title %}Under Construction - Portfolio{% endblock %}
{% block no_navbar %}{% endblock %}
{% block content %}
<div class="container" style="text-align:center; padding:5rem 0;">
    <h1 style="font-size:2.5rem; margin-bottom:1.5rem;">
        🚧<br>
        Under Construction
        <br>🚧
    </h1>
    <p style="font-size:1.2rem; color:#aaa;">This website is currently under construction.<br>It will be live soon. Please check back later!</p>
</div>
{% endblock %} 